In [49]:
inp = '13,x,x,41,x,x,x,37,x,x,x,x,x,659,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,19,x,x,x,23,x,x,x,x,x,29,x,409,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,17'
inp = inp.split(',')

In [9]:
inx = list(filter(lambda x: x != 'x', inp))
inx = [int(x) for x in inx]

In [10]:
inx

[13, 41, 37, 659, 19, 23, 29, 409, 17]

In [24]:
found = False
check = 1000066 

while found == False:
    checkr = any([(check / x) % 1 == 0 for x in inx])
    if checkr == True:
        found = True
        print([(check / x) % 1 == 0 for x in inx])
    
    check += 1

[False, True, False, False, False, False, False, False, False]

In [17]:
print([(check / x) % 1 == 0 for x in inx])

[False, False, False, False, False, False, False, False, False]

In [20]:
check * 17

17011424

In [26]:
((check-1) - 1000066) * 41

246

In [22]:
1000671 * 17

17011407

In [25]:
check

1000073

In [ ]:
# 17,x,13,19 is 3417.

x = [0,1,2,3]

match = False

while match == False:
    [int(v) + for x,v in zip(x, vals) if v != 'x']

In [29]:
3420 / 19

180.0

In [120]:
#inp2 =['17','x','13','19']
inp2 = [1789,37,47,1889]
intervals = [0,1,2,3]

In [179]:
intervals = [i for i in range(len(inp))]

In [180]:
intervals

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61]

In [36]:
[int(v) for x,v in zip(x, vals) if v != 'x']

[17, 13, 19]

In [181]:
%%time

match = False
timestamp = 1033335951648

while match == False:
    timestamps = [timestamp+i for i in intervals]  # intervals always same
    matches = [t % int(v) == 0 for t, v in zip(timestamps, inp) if v != 'x']
    
    if all(matches) == True:
        match = True
    else: 
        timestamp += 1033335951648
    
    #if timestamp % 1000000000

KeyboardInterrupt:

In [ ]:
# CPU times: user 27.5 ms, sys: 1.58 ms, total: 29.1 ms
# Wall time: 30 ms

In [182]:
timestamp

20170839709811254464

In [ ]:
# 21700054984608  -  too low

In [101]:
timestamp - 100000000000000

2360619610

In [72]:
timestamps = [timestamp+i for i in intervals]

In [73]:
#timestamp = 100000000000000
timestamp = 3417

In [83]:
matches = [t % int(v) == 0 for t, v in zip(timestamps, vals) if v != 'x']

In [85]:
matches

[True, True, True]

In [106]:
[ i+int(t) for i, t in zip(intervals, inp) if t != 'x']

[13, 44, 44, 672, 51, 59, 71, 453, 78]

In [107]:
inp

['13',
 'x',
 'x',
 '41',
 'x',
 'x',
 'x',
 '37',
 'x',
 'x',
 'x',
 'x',
 'x',
 '659',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 '19',
 'x',
 'x',
 'x',
 '23',
 'x',
 'x',
 'x',
 'x',
 'x',
 '29',
 'x',
 '409',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 'x',
 '17']

In [166]:
for i in range(0, 100000000000000, 1033335951648):
    if i % 13 == 0 and i % 44 == 0 and i % 44 == 0 and i % 672 == 0 and i % 51 == 0 and i % 59 == 0 and i % 71 == 0 and i % 453 == 0 and i % 78 == 0:
        print(i)

0
1033335951648
2066671903296
3100007854944
4133343806592
5166679758240
6200015709888
7233351661536
8266687613184
9300023564832
10333359516480
11366695468128
12400031419776
13433367371424
14466703323072
15500039274720
16533375226368
17566711178016
18600047129664
19633383081312
20666719032960
21700054984608
22733390936256
23766726887904
24800062839552
25833398791200
26866734742848
27900070694496
28933406646144
29966742597792
31000078549440
32033414501088
33066750452736
34100086404384
35133422356032
36166758307680
37200094259328
38233430210976
39266766162624
40300102114272
41333438065920
42366774017568
43400109969216
44433445920864
45466781872512
46500117824160
47533453775808
48566789727456
49600125679104
50633461630752
51666797582400
52700133534048
53733469485696
54766805437344
55800141388992
56833477340640
57866813292288
58900149243936
59933485195584
60966821147232
62000157098880
63033493050528
64066829002176
65100164953824
66133500905472
67166836857120
68200172808768
69233508760416
70266844712064
71300180663712
72333516615360
73366852567008
74400188518656
75433524470304
76466860421952
77500196373600
78533532325248
79566868276896
80600204228544
81633540180192
82666876131840
83700212083488
84733548035136
85766883986784
86800219938432
87833555890080
88866891841728
89900227793376
90933563745024
91966899696672
93000235648320
94033571599968
95066907551616
96100243503264
97133579454912
98166915406560
99200251358208

In [165]:
1033335951648 % 44

0

In [167]:
testo = [13, 44, 44, 672, 51, 59, 71, 453, 78]

In [170]:
for t in testo:
    if 1033335951648 % t == 0:
        print(t,'whaatttttt')

13 whaatttttt
44 whaatttttt
44 whaatttttt
672 whaatttttt
51 whaatttttt
59 whaatttttt
71 whaatttttt
453 whaatttttt
78 whaatttttt

In [135]:
96384288 + 96384288

192768576

In [ ]:
['17','x','13','19']

In [148]:
for i in range(10000):
    if i % 17 == 0 and (i+2) % 13 == 0 and (i+3) % 19 == 0:
        print(i)

3417
7616

In [183]:
[ (i,int(t)) for i, t in zip(intervals, inp) if t != 'x']

[(0, 13),
 (3, 41),
 (7, 37),
 (13, 659),
 (32, 19),
 (36, 23),
 (42, 29),
 (44, 409),
 (61, 17)]

In [228]:
for i in range(0, 100, 13):
    if i % 13 == 0 and \
    (i+3) % 41 == 0 and \
    (i+7) % 37 == 0 and \
    (i+13) % 659 == 0 and \
    (i+32) % 19 == 0 and \
    (i+36) % 23 == 0 and \
    (i+42) % 29 == 0 and \
    (i+44) % 409 == 0 and \
    (i+61) % 17 == 0:
        print(i)

In [282]:
for i in range(939490236001473, 10000000000000000, 1145159583560291):
    if i % 13 == 0 and \
    (i+3) % 41 == 0 and \
    (i+7) % 37 == 0 and \
    (i+13) % 659 == 0 and \
    (i+32) % 19 == 0 and \
    (i+36) % 23 == 0 and \
    (i+42) % 29 == 0 and \
    (i+44) % 409 == 0 and \
    (i+61) % 17 == 0:
        print(i)

939490236001473
2084649819561764
3229809403122055
4374968986682346
5520128570242637
6665288153802928
7810447737363219
8955607320923510

In [286]:
1145159583560291 % 659

0

In [281]:
2084649819561764 - 939490236001473

1145159583560291

In [ ]:
1789,37,47,1889

In [210]:
1202161486 # timestep+1 has to be devide by raw busval

1202161486

In [223]:
for i in range(0, 12021610000, 1789):
    if i % 1789 == 0 and (i+1) % 37 == 0 and (i+2) % 47 == 0 and (i+3) % 1889 == 0:
        print(i)

1202161486
7078974605

In [211]:
for i in range(0, 100000000000000, 1033335951648):
    if i % 13 == 0 and i % 44 == 0 and i % 44 == 0 and i % 672 == 0 and i % 51 == 0 and i % 59 == 0 and i % 71 == 0 and i % 453 == 0 and i % 78 == 0:
        print(i)

66193

In [219]:
(1288080 + 2) % 47

0