In [318]:
import numpy as np
import itertools
import math

In [41]:
testi = [28,
33,
18,
42,
31,
14,
46,
20,
48,
47,
24,
23,
49,
45,
19,
38,
39,
11,
1,
32,
25,
35,
8,
17,
7,
9,
4,
2,
34,
10,
3]

In [42]:
testi = sorted(testi)

In [86]:
with open('input/input_day10.txt') as file:
    testi = file.read().split()

In [88]:
testi = [int(t) for t in testi]

In [90]:
testi = sorted(testi)

In [92]:
testi

[1,
 2,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 15,
 16,
 19,
 22,
 23,
 24,
 25,
 26,
 29,
 30,
 31,
 32,
 35,
 36,
 37,
 38,
 41,
 44,
 45,
 46,
 47,
 50,
 51,
 52,
 53,
 54,
 57,
 58,
 59,
 62,
 63,
 66,
 67,
 68,
 69,
 70,
 73,
 76,
 77,
 78,
 79,
 80,
 83,
 86,
 89,
 90,
 91,
 94,
 95,
 96,
 97,
 98,
 101,
 104,
 107,
 108,
 109,
 110,
 113,
 114,
 115,
 116,
 119,
 120,
 123,
 124,
 125,
 126,
 127,
 130,
 131,
 134,
 137,
 138,
 139,
 140,
 143,
 144,
 145,
 148,
 149,
 150,
 151]

In [93]:
testi = [0, *testi, testi[-1]+3]

In [94]:
jolts = []

for k, i in enumerate(range(len(testi))):
    if i != (len(testi)-1):
        jolt = testi[i+1] - testi[i]
        #print(testi[i+1],testi[i])
        jolts.append(jolt)

In [82]:
jolts

[1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 3,
 1,
 1,
 1,
 3,
 1,
 1,
 3,
 3,
 1,
 1,
 1,
 1,
 3,
 1,
 3,
 3,
 1,
 1,
 1,
 1,
 3]

In [95]:
x = np.array(jolts)

In [96]:
np.unique(x, return_counts=True)

(array([1, 3]), array([64, 30]))

In [97]:
64*30

1920

In [98]:
sorted([1, 4, 5, 6, 7, 10, 11, 12, 15, 16, 19])

[1, 4, 5, 6, 7, 10, 11, 12, 15, 16, 19]

## part 2

In [313]:
test = sorted([1, 4, 5, 6, 7, 10, 11, 12, 15, 16, 19])
test = sorted([28,33,
18,
42,
31,
14,
46,
20,
48,
47,
24,
23,
49,
45,
19,
38,
39,
11,
1,
32,
25,
35,
8,
17,
7,
9,
4,
2,
34,
10,
3])

In [102]:
test

[1, 4, 5, 6, 7, 10, 11, 12, 15, 16, 19]

In [314]:
extras = []

for i in range(len(test)):
    
    if i < (len(test) - 3):
        intervals = [test[i+j] for j in range(1,4) if test[i+j] < test[i]+4]
        extras.append(intervals[:-1])  # add everything except closest interval
        
    elif i < (len(test) - 2):
        intervals = [test[i+j] for j in range(1,3) if test[i+j] < test[i]+4]
        
        extras.append(intervals[:-1])

In [315]:
extras

[[2, 3],
 [3],
 [],
 [],
 [8, 9],
 [9, 10],
 [10],
 [],
 [],
 [],
 [18, 19],
 [19],
 [],
 [],
 [24],
 [],
 [],
 [],
 [32, 33],
 [33, 34],
 [34],
 [],
 [],
 [],
 [],
 [],
 [46, 47],
 [47, 48],
 [48]]

In [316]:
seto = sorted(list(set(itertools.chain(*extras))))

In [317]:
list(seto)

[2, 3, 8, 9, 10, 18, 19, 24, 32, 33, 34, 46, 47, 48]

In [319]:
math.factorial(14)

87178291200

In [320]:
for t in test:
    if t not in seto:
        print(t)

1
4
7
11
14
17
20
23
25
28
31
35
38
39
42
45
49

In [321]:
test

[1,
 2,
 3,
 4,
 7,
 8,
 9,
 10,
 11,
 14,
 17,
 18,
 19,
 20,
 23,
 24,
 25,
 28,
 31,
 32,
 33,
 34,
 35,
 38,
 39,
 42,
 45,
 46,
 47,
 48,
 49]

In [ ]:
"""

(1|234)
    1-2
    1-3
    1-4
    (12|34)
        12-3
        12-4
        (123|4)
            123-4
            
for i
    i
    for j
        ij
        for a
            ija
            for b
                ijab
"""

In [312]:
ijab = [1,2,3,4]

for i in ijab:
    print(i)
    jab = ijab[1:]
    for j in jab:
        print(f'----{i,j}')
        ab = ijab[2:]
        for a in ab:
            print(f'--------{i,j,a}')
            b_ = ijab[3:]
            for b in b_:
                print(f'-----------{i,j,a,b}')

1
----(1, 2)
--------(1, 2, 3)
-----------(1, 2, 3, 4)
--------(1, 2, 4)
-----------(1, 2, 4, 4)
----(1, 3)
--------(1, 3, 3)
-----------(1, 3, 3, 4)
--------(1, 3, 4)
-----------(1, 3, 4, 4)
----(1, 4)
--------(1, 4, 3)
-----------(1, 4, 3, 4)
--------(1, 4, 4)
-----------(1, 4, 4, 4)
2
----(2, 2)
--------(2, 2, 3)
-----------(2, 2, 3, 4)
--------(2, 2, 4)
-----------(2, 2, 4, 4)
----(2, 3)
--------(2, 3, 3)
-----------(2, 3, 3, 4)
--------(2, 3, 4)
-----------(2, 3, 4, 4)
----(2, 4)
--------(2, 4, 3)
-----------(2, 4, 3, 4)
--------(2, 4, 4)
-----------(2, 4, 4, 4)
3
----(3, 2)
--------(3, 2, 3)
-----------(3, 2, 3, 4)
--------(3, 2, 4)
-----------(3, 2, 4, 4)
----(3, 3)
--------(3, 3, 3)
-----------(3, 3, 3, 4)
--------(3, 3, 4)
-----------(3, 3, 4, 4)
----(3, 4)
--------(3, 4, 3)
-----------(3, 4, 3, 4)
--------(3, 4, 4)
-----------(3, 4, 4, 4)
4
----(4, 2)
--------(4, 2, 3)
-----------(4, 2, 3, 4)
--------(4, 2, 4)
-----------(4, 2, 4, 4)
----(4, 3)
--------(4, 3, 3)
-----------(4, 3, 3, 4)
--------(4, 3, 4)
-----------(4, 3, 4, 4)
----(4, 4)
--------(4, 4, 3)
-----------(4, 4, 3, 4)
--------(4, 4, 4)
-----------(4, 4, 4, 4)

In [294]:
tt = [i for i in range(1,5)]
tt

[1, 2, 3, 4]

In [297]:
group = 3
combis = []

# add the single outcast first
for t in tt :
    combis.append((t,))

# rest of em
for i in range(0, len(tt)):
    resto = tt[0:i] + tt[i+1:]
    
    for z in range(1,len(tt)+1): # 2-6
        for r in resto: # 2-10
            #print(tt[i], r)
            combis.append((tt[i],) + tuple(resto[0:z]))
    
#     a = 1
#     while a < len(tt)+1:
#         for r in resto:
#             print(tt[i], r) #2
#                 r in 1,2,3
            
    
#     for z in range(1,len(tt)+1): # 2-6
#         for r in resto: # 2-10
#             #print(tt[i], r)

In [296]:
combis

[(1,),
 (2,),
 (3,),
 (4,),
 (1, 2),
 (1, 2),
 (1, 2),
 (1, 2, 3),
 (1, 2, 3),
 (1, 2, 3),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (2, 1),
 (2, 1),
 (2, 1),
 (2, 1, 3),
 (2, 1, 3),
 (2, 1, 3),
 (2, 1, 3, 4),
 (2, 1, 3, 4),
 (2, 1, 3, 4),
 (2, 1, 3, 4),
 (2, 1, 3, 4),
 (2, 1, 3, 4),
 (3, 1),
 (3, 1),
 (3, 1),
 (3, 1, 2),
 (3, 1, 2),
 (3, 1, 2),
 (3, 1, 2, 4),
 (3, 1, 2, 4),
 (3, 1, 2, 4),
 (3, 1, 2, 4),
 (3, 1, 2, 4),
 (3, 1, 2, 4),
 (4, 1),
 (4, 1),
 (4, 1),
 (4, 1, 2),
 (4, 1, 2),
 (4, 1, 2),
 (4, 1, 2, 3),
 (4, 1, 2, 3),
 (4, 1, 2, 3),
 (4, 1, 2, 3),
 (4, 1, 2, 3),
 (4, 1, 2, 3)]

In [276]:
(1,) + tuple([1,2,3])

(1, 1, 2, 3)

In [324]:
len(test), seto

(31, [2, 3, 8, 9, 10, 18, 19, 24, 32, 33, 34, 46, 47, 48])

In [360]:
with open('day10.txt', 'w') as file:

    for i in range(len(seto[:1])):
        file.write(f'{(seto[i],)}\n')

        for j in range(len(seto)):
            prefix = (seto[i], seto[j])
            file.write(f'{prefix}\n')

            for a in range(len(seto)):
                three = (*prefix, (seto[a]))
                file.write(f'{three}\n')

                for b in range(len(seto)):
                    four = (*three, (seto[b]))
                    file.write(f'{four}\n')

                    for c in range(len(seto)):
                        five = (*four, (seto[c]))
                        file.write(f'{five}\n')

                        for d in range(len(seto)):
                            six = (*five, (seto[d]))
                            file.write(f'{six}\n')

                            for e in range(len(seto)):
                                seven = (*six, (seto[e]))
                                file.write(f'{seven}\n')

In [ ]:
ij
ija
ijab
ijabc
ijabcd

In [363]:
with open('./day10.txt') as file:
    res = file.read().splitlines()

In [365]:
len(res)

8108731

In [382]:
##weakpie
len(list(itertools.combinations(seto,14)))

1

In [417]:
accum = 0
combolist = []

for i in range(1, len(seto)+1):
    combos = len(list(itertools.combinations(seto,i)))
    combolist += list(itertools.combinations(seto,i))
    print(f'combos on level {i}: {combos}')
    accum += combos

combos on level 1: 14
combos on level 2: 91
combos on level 3: 364
combos on level 4: 1001
combos on level 5: 2002
combos on level 6: 3003
combos on level 7: 3432
combos on level 8: 3003
combos on level 9: 2002
combos on level 10: 1001
combos on level 11: 364
combos on level 12: 91
combos on level 13: 14
combos on level 14: 1

In [387]:
accum

16383

In [418]:
cl_sorted =

16383

In [424]:
with open('day10.txt', 'w') as file:
    for c in combolist:
        file.write(f'{c}\n')

In [432]:
(8,9,10) in combolist

True

In [425]:
seto

[2, 3, 8, 9, 10, 18, 19, 24, 32, 33, 34, 46, 47, 48]